<div class="container">
  <form class="form-horizontal" role="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <h2>Registration Form</h2>
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label">Full Name</label>
      <div class="col-sm-9">

        <input 
          #firstName 
          type="text" 
          id="firstName" 
          placeholder="Full Name" 
          class="form-control" 
          autofocus
          [(ngModel)]="dataForm.firstName"
          name="fullName"
          required/>

      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">

        <input 
          #email="ngModel"
          id="email" 
          placeholder="Email" 
          class="form-control"
          [(ngModel)]="dataForm.email"
          name="email"
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      </div>
      <div *ngIf="!email.valid">
        InValid Email
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <input 
          #password 
          type="password" 
          id="password" 
          placeholder="Password" 
          class="form-control"
          [(ngModel)]="dataForm.password"
          name="password"
          required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Register</button>
      </div>
    </div>
  </form>
</div>
<div>
</div>